<%= render "shared/header" %>

<main>

  <div class= main-header>
    <ul>
      <li><%= link_to 'Recipes', "#", class: "lists" %></li> 
      <li><%= link_to 'Donation', "#", class: "lists" %></li> 
      <li><%= link_to 'Products', "#", class: "lists" %></li> 
    </ul>
  </div>

  <div class= main-container>
    <div class= first-container>
    <%= image_tag 'top0.png' %>
    </div>

    <div class= second-container>

      <div class= second-container-left>
        <div class= whiteback>
          <h1>aaa</h1>
        </div>
      </div>
     <div class= second-container-right>
        <%= image_tag 'top1.png', :size => '610x650'%>
      </div>

    </div>  

  </div>

</main>




<%= render "shared/footer" %>