<%= render "shared/second-header"%> 
<div class='recipe-index'>

<div class= 'index-header'>
  <div class= 'title'>
    <h1>Recipes</h1>
  </div>
  <div class= 'subtitle'>
    <h2>ビーガンレシピを作ってみよう！レシピをシェアしよう！</h2>
    <p>レベルと調理時間の検索ができます</p>
  </div>
  <div class= 'sarch-box'>
    <%# レベルと調理時間を入れて複雑な検索できるよう実装 %>
  </div>
</div>

<div class= 'index-main'>

<div class="recipes-container">
  <% @recipes.each do |recipe| %>
    <li class='list'>
      <%= link_to recipe_path(recipe.id) do %> 
        <div class='index-recipe-image'>
          <%= image_tag recipe.image, class: "recipe-img" %>
        </div>
        <div class='index-recipe-info'>
          <h3 class='index-recipes-name'>
            <%= recipe.recipes_name %> 
          </h3>
        </div>
      <%end%>
    </li>
  <%end%> 
</div> 


</div>

<div class= 'index-footer'>
  <div class='btn'>
  <%= link_to image_tag('writing.png' , size: '300x200' ,class: "btn-text"), new_recipe_path %>
  <span class='btn-text'><h4>Share</h4></span>
  </div>
</div>

</div>

<%= render "shared/second-footer"%> 