<%= render "shared/second-header"%> 
<div class='recipe-index'>

<div class= 'index-header'>
  <div class= 'title'>
    <h1>Recipes</h1>
  </div>
  <div class= 'subtitle'>
    <h2>ビーガンレシピを作ってみよう！レシピをシェアしよう！</h2>
    <p>レベルと調理時間の検索ができます</p>
  </div>
  <div class= 'sarch-box'>
    <%# レベルと調理時間を入れて複雑な検索できるよう実装 %>
  </div>
</div>

<div class= 'index-main'>
  <%# <% @recipes.each do |recipe| %>
      <%# <li class='list'>
        <%= link_to "#"() do %> 
        <%# <div class='recipe-image'>
          <%= image_tag item.image, class: "item-img" %>
        <%# </div> %>
        <%# <div class='item-info'> %>
          <%# <h3 class='hoge'> %>
            <%# <%= item.items_name %> 
          <%# </h3>
        </div> %>
</div>

<div class= 'index-footer'>
  <div class='btn'>
  <button class='btn-text'>投稿する</button>
  </div>
</div>

</div>

<%= render "shared/second-footer"%> 