<%= render "shared/header"%> 

<div class= 'saerch-main'>
  <div class= 'title'>
    <h1>Results</h1>
  </div>
  <div class="recipes-container">
    <% if @results.length !=0 %>
  <main class="main">
    <div class="innner">
      <div class="r-wrapper">
        <% @results.each do |result| %>
        <div class= "r-list">
          <%= link_to recipe_path(result.id) do %> 
          <%= image_tag result.image, class: "recipe-img" %>
          <%end%>
          <div class="r-body">
            <div class='r-name'>
              <h3><%= result.recipes_name %></h3>
            </div>
          </div>
        </div>
        <%end%> 
      </div>
    </div>
  </main> 
  <% else %>
  <h2>該当するレシピはありません</h2>
  <% end %>
  </div> 

  <div class= btn-search>
      <%= link_to 'Back', recipes_path, class: "recipe-back-btn" %>
  </div>

</div>

<%= render "shared/second-footer"%> 